.folder-container {
  height: 100%;
  position: absolute;
  width: 100%;
  .ant-menu {
    line-height: 64px
  }
  .ant-layout {
    height: 100%;
    .ant-layout-content {
      min-height: 280;
      padding: 0px 15%;
    }
  }
  .header {
    .ant-breadcrumb {
      margin: 5px 0 0 13px;
    }
  }
  .folder-layout {
    background: #fff;
    padding: 4% 6% 0 6%;
    height: 100%;
    min-height: 500px;
  }
  .folder-structure {
    margin: 4% 0 0 0%;
    border-radius: 4px;
    padding: 3% 0 3% 3%;
    .folder {
      border: 1px solid #faf3f3;
      border-radius: 4px;
      margin-bottom: 9px;
      padding: 11px 0px 11px 12px;
      .anticon {
        float: right;
        margin: 3px 15px 0 0;
        color: #8f8e8e;
        font-size: 14px;
        cursor: pointer;
      }
      .ant-col-22 {
        cursor: pointer;
      }
      a {
        width: 94%;
        position: absolute;
        .anticon {
          float: left;
          margin: 2px 9px 0px 0px;
        }
      }
      input {
        width: 94%;
        position: absolute;
        top: -4px;
        left: -2px;
      }
    }
  }
}
